bsd-core/*/@
bsd-core/*/machine
*~
*.1
*.3
*.5
*.7
bus_if.h
cscope.*
device_if.h
drm.kld
drm_pciids.h
export_syms
i915.kld
mach64.kld
mga.kld
opt_drm.h
pci_if.h
r128.kld
radeon.kld
savage.kld
sis.kld
stamp-h1
tdfx.kld
via.kld
man/*.3
